@media (hover:none) {
  *:hover {
    transform: none !important;
  }
}
.Heading {
  color:  rgb(70, 66, 66);
  margin: 0%;
}
h2 {
  margin: 5px 0 15px 0;
}
body {
  color:  rgb(70, 66, 66);
  padding: 0;
  background-color: #f3dcbf;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
button {
  color:  rgb(70, 66, 66)
}
select {
  color:  rgb(70, 66, 66)
}
option {
  cursor: pointer;
}
select option:checked {
  background-color: #804c1c96;
}
select {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #fff7f78e;
}
textarea {
  border: none;
  color:  rgb(70, 66, 66)
}
table {
  transition: all 0.2s ease;
  display: inline-flex;
  border-collapse: separate;
  margin: 0;
  border-radius: 15px 0 15px 0;
  background-color: #804c1c96;
  width: 380px;
  margin: 10px 0;
  padding: 0;
  justify-content: center;
}
td {
  margin: 0;
  padding: 0 10px;
}
tr {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
ol {
  margin-top: 15px;
  padding-left: 4px;
  list-style-position: inside;
}
.add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s ease;
  mask-image: radial-gradient(
    circle at center,
    rgba(255,255,255,1) 0%,
    rgba(255, 255, 255, 0.95) 30%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.05) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  margin-right: 0;
  margin-left: auto;
  border-radius: 50%;
  background-color: #529e7fae;
  border: none;
}
.add:hover {
  transform: scale(1.05);
  background-color: #60c09aae;
  color: #30403aae;
}
.add:active {
  transform: scale(0.95);
  background-color: #2178558e;
  color: #394d45ae;
}
.transportElement {
  font-weight: bold;
  transition: all 0.2s ease;
  background-color: transparent ;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 30%;
  padding: 0 0 4px 0;
  font-size: 19px;
}
.transportElement:hover {
  transform: scale(1.1);
  color: #44a5b6;
  background-color: #44a5b612;
}
.transportElement:active {
  transform: scale(0.95);
  color: #368593;
  transition: transform 0.1s ease;
}
.addAmount {
  transition: all 0.2s ease;  /* 1 */
  cursor: pointer;            /* 2 */
  border: none;               /* 3 */
  background: transparent;    /* 4 */
  padding: 3px 5px;           /* 5 */
  border-radius: 10px;   
  font-size: 17px;
}
.addAmount:hover {
  transform: scale(1.1);
  color: #44a5b6;
  background-color: #44a5b612;
}
.addAmount:active {
  transform: scale(0.95);
  color: #368593;
  transition: transform 0.1s ease;
}
.addAmountn:active {           
  color: #a6b6c6;                            
  background-color: rgba(0, 86, 179, 0.1);    
  transition: transform 0.1s ease;            
}

.delete {
  mask-image: radial-gradient(
    ellipse at center,
    rgba(255,255,255,1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: all 0.2s ease;
  border: none;
  margin: 0 5.75px 0 3px;
  padding: auto;
  width: 23px;
  height: 23px;
  font-size: 17px;
  background-color: #fa6464b9;
  border-radius: 6px;
  cursor: pointer;

}
.delete:hover {
  transform: scale(1.1);
  background-color: #f07171ad;
  color: #d12f2f;
}
.delete:active {
  transform: scale(0.95);
  background-color: #cb5e5ead;
  color: #a02323;
}
.elementOfList {
  transition: all 0.3s ease;
  width: 60%;
  height: auto;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  border-radius: 10px;
  margin: 3px 3px;
  align-items: center;
  border: none;
}

.elementOfList:active {
  transform: scale(0.985);
  transition: transform 0.17s ease;
}

.edit {
  transition: all 0.2s ease;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 20px;
  cursor: pointer;
}
.edit:hover {
  transform: scale(1.1);
}
.edit:active {
  transform: scale(0.95);
}
.editInElement {
  transition: all 0.2s ease;
}
.editInElement:hover {
  transform: scale(1.1);
}
.editInElement:active {
  transform: scale(0.95);
}
.imageOfEdit {
  margin: 0;
  opacity: 0.75;
}
.deleteList {
  transition: all 0.2s ease;
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 18px;
  cursor: pointer;
}
.deleteList:hover {
  transform: scale(1.1);
}
.imageOfDeleteList {
  margin-top: 0;
  opacity: 0.75;
  object-fit: cover;
}
.selectOfList {
  height: 15px;
  width: 50px;
  margin: 0 12px 0 5px;
}
.divOfButtonBin {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}
.divOfChoosingList {
  display: inline-flex;
  align-items: center;
}
